{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h2 class="text-center mb-4">Choose Station:</h2>
                    <div class="d-grid gap-2">
                        <a href="{% url 'in_jita_analysis' %}" class="btn btn-primary">Jita IV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
